.product-image-slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: 0;
  /* padding-bottom: 75%; */
}

.slider-wrapper-product {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 95%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* caption overlay removed */

.slider-caption-below {
  text-align: center;
  margin-top: 0.5rem;
  color: #333;
  font-size: 17px;
  font-weight: bold;
}

.dotnav {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  padding: 0;
  list-style: none;
}

.dotnav li {
  margin: 0 4px;
}

.dotnav button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  /* background: #ccc; */
  background: #f7f3f3;
  cursor: pointer;
  padding: 0;
  position: relative;
  justify-content: center;
}

.dotnav .active button {
  background: #b20e10; /* red dot */
}

@media (max-width: 960px) {
  .product-image-slider {
    max-width: 100%;
    margin: 1rem 0;
  }
}
